.tar_valor_final_product_info_field, .tar_valor_final_product_info2_field, .tar_valor_final_product_info3_field, .tar_valor_final_product_info4_field, .tar_valor_final_product_info5_field, .tar_valor_final_product_info6_field, .tar_valor_final_product_info7_field, .tar_valor_final_product_info8_field{
	padding: 0 !important;
}
.tar_valor_final_product_info, .tar_valor_final_product_info2, .tar_valor_final_product_info3, .tar_valor_final_product_info4, .tar_valor_final_product_info5, .tar_valor_final_product_info6, .tar_valor_final_product_info7, .tar_valor_final_product_info8{
    width: 90px !important;
    margin-left: -14px !important;
}